body{
    background-color: black;
    color: #E8F6D1;
    text-align: center;
}
#menu{
    background-color: transparent; 
}
#appcontainer{
    background-color: transparent; 
}
#cardtitle{
    color:rgb(138, 199, 218);
}