body{
    background-color: black;
    color: white;
}
#nav{
    background-color: transparent;  
}
#menu{
    background-color: transparent; 
     
}
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}
#cardPic{
    background-color: transparent; 
    color: white;
}
#home-tab, #profile-tab, #contact-tab{
    background-color: transparent; 
    
}
a:link {
    color:white;
}
#list{
    color:rgb(190, 226, 218);
}
#myname{
    color:rgb(138, 199, 218);
}